* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main_container {
    margin: 0 auto;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 500px;
    height: 500px;
}