table {
    border-collapse: collapse;
}

caption {
    font-size: 17px;
    font-weight: bold;
    color: rgb(13, 28, 241);
}

caption,
tr {
    height: 30px;
}

th,
td {
    box-sizing: border-box;
    border: 1px solid;
    font-size: 15px;
    width: 100px;
}

th {
    background-color: rgb(127, 255, 138);
}

td {
    background-color: rgba(255, 0, 149, 0.123);

    text-align: right;
    padding-right: 20px;
    /* 점수들의 수평 정렬을 위해 오른쪽 정렬 후 패딩 지정. */
}