*{
    padding: 0;
    margin: 0;
    text-align: center; /*텍스트 가운데 정렬*/
}

body {
    width: calc(1024px*0.8); /*1024px의 80%*/
    margin: 0 auto; /*블럭 가운데 정렬*/
    height: 100vh;
}

header {
    background-color: antiquewhite;
    width: 100%;
    height: 20vh;
    line-height: 20vh;
}

section {
    background-color: rgb(191, 191, 234);
    width: calc(1024px*0.8*0.7); /*1020p > 80% > 70%*/
    line-height: calc(60vh*0.6); /*60 > 60%*/

}


article {
    background-color: rgb(88, 75, 99);
    width: calc(1024px*0.8*0.7);
    line-height: calc(60vh*0.4);
}

aside {
    background-color: rgb(72, 75, 75);
    width: calc(1024px*0.8*0.3);
    line-height: 60vh;
    float: right;
}

footer {
    background-color: bisque;
    width: 100%;
    line-height: 20vh;
}

#section_article {
    float: left;
}

main:after {
    content: "";
    display: block;
    clear: both;
}
