/*
	body 에 적용한 background-image 의 opacity 는 적용 불가함에 주의.
*/
body {
    margin: 0;
    background: url(../image/bg5.jpg) center/cover;
    font-size: .8em;
    text-align: center;
    line-height: 100vh;
}

/* p 태그 내에는 다른 블럭 요소가 포함되지 못함에 주의. */
span {
    font: bold 1.5em normal;
    color: darkorchid;
}

body>p {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url(../image/bg4.jpg) 0/300px 300px;
    /* background:url(../image/bg4.jpg) 0/100% 100%; */

    color: rgb(48, 121, 48);
    vertical-align: middle;
    line-height: normal;
    /* line-height: initial; */
    white-space: pre-line;
    overflow: auto;

    opacity: .8;
}