.container {
    width: 430px;
    background-color: blue;
}

.container::after {
    content: " ";
    display: block;
    clear: both;
}

.container div {
    text-align: center;
    width: 100px;
    line-height: 100px;
    background-color: aquamarine;
    float: left;
}


/* .container div:not(div:nth-child(4)) {
    margin-right: 10px;
}

.container div:not(div:nth-child(13)) {
    margin-bottom: 10px;
} */
.container div:nth-child(n+1):nth-child(-n+12) {
    margin-bottom: 10px;
}

.container div:not(:nth-child(4n)) {
    margin-right: 10px;
}